.open-sans-normal {
    font-family: "Open sans",sans-serif;
    font-optical-sizing: auto;
    font-style:normal ;
    font-variation-settings:
     "wdth" 100;
}
.c2{
    width: 99hug;
    height: 51hug;
    color:#4E47FF;
}
.c4{
    background-color:#4E47FF ;
    font-size: 1.25em;
   border-radius: 5px;
   color: white;
}
.c4:hover{
    background-color: aqua ;
}
.c7{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}


.c6{
    text-align: center;
     color: #252432;

}
.c0{
    margin-left: 50%;
}
.c1{
    background-image:url("Hero-bg.png");
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.c8{
    background-color: #fff8f3;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
     margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.c10{
    font-weight: bold;
    font-size: 35px;
    color: #252432;
}
.c9{
    font-size:12px;
    
}
.c11{
 background-color: #4E47FF;
 border-radius: 5px;
 font-size: 1.25em;
 color: white;
}
.c11:hover{
    background-color: aquamarine;
    
}
.c12{
    width: 403px;
    height: 328px;
    border-radius: 10px;
    
} .c14{
   color: #252432; 
   text-align: center;
   width: 856px;
   height: 45px;

   padding-top: 20px;
   padding-left: 0 50%;
}
.c13{
    background-color:honeydew;
      margin-top: 80px;
     margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.c15{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: bold;
    color: #4E47FF; 
    font-size: 3em;
    list-style-type: none;

}
.c16{
   display: flex; 
   justify-content: space-between;
   list-style: none;
   font-size:12px;
   
}
.c23{
    background-color:#F2EDED ;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.c18{
    width: bold;
    height: 49px;
    text-align: center;
    padding-top: 50px; 
}
.c19{
    display: flex;
    list-style-type: none;

}
.c20{
    padding-left: 20px ;

}
.c21{
    font-size: 12px;
    color: #252432; ;
}
.c22{
    display: flex;
}
.c24{
    display: flex;
    
}
.c27{
    width: bold;
    height: 97px;
    color: #000000;
   
     padding-left: 50px;
    padding-top: 80px;
    font-size: 3em;
}
.c25{
    background-color:#D6DDED;
    margin-top: 80px;
    margin-left: 30px;
    margin-left: 30px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 50px;
}
.c25 form{
    display: flex;
    flex-direction: column;
   display: flex;
    
}
.c25 input,textarea{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
.c26{
 display: flex;

}
.c33{
    background-color:azure ;
    margin-top: 80px;
   margin-left: 30px;
   margin-right:30px ;
   border-radius: 10px;
}
.c35{
    color: #4E47FF;
    width: bold;
    font-size: 3em;
    
}
.c36{
   color: #8987A1;
   display: block; 
}
.c34{
    text-align: center;
}
.c37{
    margin: 0 330px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


